body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
text-align:center;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
text-align:center;
}

ul{
list-style:none;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:250px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input,textarea{
display:block;
margin:10px auto;
padding:10px;
width:300px;
}

button{
padding:10px;
cursor:pointer;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}

.foto{
width:120px;
border-radius:50%;
}

.dark{
background:#121212;
color:white;
}

@media(max-width:768px){

.cards{
flex-direction:column;
align-items:center;
}

}
